.beliefs-wrapper {
  margin: 80px 0;
}

/* .beliefs-ul {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
} */

.bible-img {
  width: 100%;
  float: right;
  clear: right;
  margin: 10px 0;
}

.topic-header {
  color: #CA002B;
  margin: 20px 0 10px 0;
}

@media screen and (min-width: 768px) {
  .beliefs-wrapper {
    padding: 0 100px;
  }

  .bible-img {
    width: 50%;
    margin: 0 0 15px 15px;
  }
}
