.container {
  margin: 20px auto;
}

.about .section-header {
  height: auto;
  background-image: linear-gradient(
    #17121977, #17121977),
    url("../images/choir.jpg");
  background-position: 0% 15%;
  background-size: cover;
}

.header-logo {
  height: 100px;
  margin: 90px 0 20px;
}

@media screen and (min-width: 768px) {

  .container {
    margin-top: 50px;
  }

  .header-logo {
    height: 200px;
  }

}
