/*
Colors

red #CA002B
blue #214478
gray #424B54
white really
black #171219
*/

/*
Base styles
*/

* {
  box-sizing: border-box;
}

.html, body {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fafafa;
  color: #424B54;
  line-height: 1.8;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*
Navbar styles
*/

.info-header {
  display: none;
}

/*.navbar {
  -webkit-animation-delay: 1.5s;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-timing-function: ease-in-out;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}*/

.hamburger {
  width: 15px;
}

.navbar-brand {
  padding: 5px;
  display: inline;
  margin: 0;
}

.navbar-toggle {
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background: none;
}

.nav>li {
  text-align: center;
}

.navbar-logo {
  width: 200px;
  margin: 0;
}

.facebook-logo {
  width: 15px;
}

/*
Black background
*/

.black-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #171219;
  -webkit-animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

/*
Section styles
*/

.parallax {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Home styles */

.home {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    #171219c9, #171219c9
    ), url("../images/congregation-small.JPG");
  text-align: center;
  color: white;
}

.home h1 {
  font-size: 6vw;
  font-weight: light;
  letter-spacing: 2px;
  line-height: 1.3;
  margin: 15px 0;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.5s;
}

.underline {
  width: 70%;
  height: 2px;
  background: white;
  margin: 0 auto;
}

.headline-btn {
  /*width: 30%;*/
  margin: 25px 10px;
  color: #171219;
  padding: 5px 15px;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}

.headline-btn:hover {
  background-color: #f2f1f0;
}

.headline-btn:first-of-type {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.headline-btn:last-of-type {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

.headline-container {
  /*margin-top: 60%;*/
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
}

.headline-container h2 {
  font-family: 'Alegraya', serif;
}

/* About styles */

.section {
  width: 100%;
  min-height: 100vh;
  margin-bottom: 20px;
}

.section h3 {
  color: #CA002B;
}

.section-header {
  width: 100%;
  height: 25vh;
  padding: 80px 0 0;
  color: white;
  text-align: center;
}

.about * {
  /*border: 0.5px solid red;*/
}

.about-header h2 {
  margin: 0;
}

.about .section-header {
  /*background: #214478;*/
    background-image: linear-gradient(
    #214478c9, #214478c9),
    url("../images/bible-small.JPG");
}

.history-container,
.staff-container,
.beliefs-container {
  margin: 50px 0 0;
}

/* History styles */

.history-container img {
  max-width: 33.3333%;
  float: left;
  margin: 0 10px 10px 0;
}


/* Staff styles */

.staff-pic-list {
  text-align: center;
}

.staff-bio-container {
  background: #424B54;
  margin: 10px 0;
  padding: 5px;
  color: white;
  display: inline-block;
  text-align: left;
  max-width: calc(50% - 10px);
}

.staff-bio-container h4 {
  font-size: 15px;
}

/* Ministries styles */

.ministries .section-header {
  background-image: linear-gradient(
  #CA002Bc9, #CA002Bc9),
  url("../images/preaching.JPG");
}

.ministries-list li {
  /*background: green;*/
  height: 20vh;
  /*padding: 15px;*/
  background-position: center;
  background-size: cover;
}

.ministries-list li img {
  height: 85%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.awana {
  background-image: linear-gradient(
  #171219c9, #171219c9),
  url("../images/kids.jpg");
}

.youth {
  background-image: linear-gradient(
  #17121977, #17121977),
  url("../images/feet.jpg");
}

.music {
  background-image: linear-gradient(
  #21447877, #21447877),
  url("../images/soundman.jpg");
  background-position: bottom;
}

.seniors {
  background-image: linear-gradient(
  #17121999, #17121999),
  url("../images/seniors.jpg");}

.missions {
  background-image: linear-gradient(
  #17121955, #17121999),
  url("../images/graduation.jpg");
}

/*
Modal styles
*/

.table-container {
  width: 100%;
}

table {
  width: 100%;
  margin-bottom: 10px;
  color: #424B54;
}

th {
  background: #214478;
  padding: 5px;
  color: white;
  width: 100%;
}

td {
  padding: 5px;
}

.modal-content {
  line-height: 1.2;
}

.modal-header {
  background: #CA002B;
  color: white;
}

.modal-body {
  padding-bottom: 0;
}

.modal-footer {
  border: none;
}

#modal-map {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.modal-address h5 {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  /*
  navbar styles
  */

  .info-header {
    display: block;
    padding: 3px 0;
    font-size: 14px;
    text-align: right;
    color: white;
    margin: -30px -40px 0 -20px;
    background: #214478;
    width: 100vw;
  }

  .info-header address {
    margin: 0 55px 0 0;
  }

  .address {
    margin-left: 30px;
  }

  .navbar-default {
    background: none;
    border: none;
  }

  .navbar-nav>li {
    margin: 17.325px 10px 17.325px 0;
  }

  .navbar-default
  .navbar-nav>li>a {
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .navbar-default
  .navbar-nav>li>a:hover {
    color: #214477;
  }

  .navbar-logo {
    width: 250px;
  }

  .navbar>.container .navbar-brand,
  .navbar>.container-fluid .navbar-brand {
    /*width: 120px;*/
    height: auto;
    background: none;
    width: 320px;
    overflow: hidden;
    margin-left: -35px;
    padding: 10px 30px 10px 50px;
    -webkit-transition: width 0.2s ease-out;
    transition: width 0.2s ease-out;
  }

  /*.navbar-default .navbar-brand:focus,
  .navbar-default .navbar-brand:hover {
    transition: width 0.4s ease-out;
    -webkit-transition: width 0.5s ease-out;
  }*/

  /*
  Section styles
  */

  .headline-container {
    /*margin-top: 10%;*/
  }

  .home h1 {
    font-size: 4.5vw;
    font-weight: 300;
    line-height: 1.6;
  }

  .underline {
    width: 700px;
    height: 5px;
  }

  .headline-btn {
    padding: 10px;
    width: 250px;
  }

  /*
  About styles
  */

  .section {
    /*height: 100vh;*/
    width: 100%;
    margin-bottom: 150px;
  }

  .section-header {
    width: 100vw;
    height: 25vh;
    padding: 125px 0 0;
    color: white;
    text-align: center;
  }

  .section-header h2 {
    font-size: 60px;
  }

  .history-container,
  .staff-container {
    width: 50%;
    margin: 50px 0;
    float: left;
    vertical-align: top;
  }

  .history-container {
    padding-right: 30px;
    text-align: justify;
  }

  .staff-container {
    border-left: 1px solid #424B54;
    padding-left: 30px;
  }

  .staff-bio-container h5 {
    font-size: 13px;
  }

  .beliefs-container {
    margin: 50px 0;
    border-top: 1px solid #424B54;
    clear: both;
  }

  /* History styles */

  .history-container img {
    width: 20%;
  }

  /* Staff styles */

  .staff-pic-list {
    text-align: left;
  }

  .staff-bio-container {
    width: calc(33.333333% - 7.5px);
  }

  /* Ministries styles */

  .ministries-list li {
    float: left;
    width: 100%;
    height: calc( 100vh / 3 );
    margin: 0;
  }

  /*
  Modal styles
  */

  .modal-content {
    line-height: inherit;
  }

  .table-container>table {
    display: inline-block;
    vertical-align: top;
    width: calc( ( 100% / 2 ) - 6.4px );
    margin-left: 10px;
  }

  @-moz-document url-prefix() {
    .table-container>table {
      width: calc( ( 100% / 2 ) - 6.5px );
    }
  }

  .table-container>table:first-of-type {
    margin-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-logo {
    width: 300px;
  }

  .navbar>.container .navbar-brand,
  .navbar>.container-fluid .navbar-brand {
    /*width: 120px;*/
    height: auto;
    background: none;
    width: 370px;
    overflow: hidden;
    margin-left: -35px;
    padding: 10px 30px 10px 50px;
    -webkit-transition: width 0.1s ease-out;
    transition: width 0.1s ease-out;
  }

  .navbar-nav>li {
    margin: 17.325px 40px 17.325px 0;
  }

  .staff-bio-container {
    width: calc(25% - 2.1px);
  }

  .history-container {
    border-right: 1px solid #424B54;
  }

  .staff-container {
    border: none;
  }

  .ministries-list li {
    width: 50%;
  }

  .ministries-list li:last-of-type {
    width:100%;
  }

  .ministries-list li img {
    height: 50%;
  }

}
