/*
Base styles
*/

* {
  box-sizing: border-box;
}

body {
  background: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*
Navbar styles
*/

.navbar {
  margin: 15px 5px;
}

.container {
  width: 100%;
}

.brand-container {
  /*width: 40px;*/
  overflow: hidden;
  display: inline-block;
}

.hamburger-icon-container {
  text-align: right;
  display: inline-block;
  width: calc(100vw - 260px);
}

.hamburger-icon {
  display: inline-block;
  width: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hamburger-icon img {
  width: 100%;
}
